# Python Data Structures – Intermediate Exercises
Notebook

#Section 1: Nested Lists & Access

In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

# Task 1: Ravi’s second mark
print("Ravi's second mark:", students[0][1][1])

# Task 2: Average mark for each student
for student in students:
    name, marks = student
    avg = sum(marks) / len(marks)
    print(f"{name}'s average: {avg:.2f}")

# Task 3: Students with all marks > 80
print("Students with all marks > 80:")
for student in students:
    name, marks = student
    if all(m > 80 for m in marks):
        print(name)

# Task 4: List of [name, average]
averages = [[name, sum(marks)/len(marks)] for name, marks in students]
print("List of [name, average]:", averages)

Ravi's second mark: 72
Ravi's average: 82.33
Sneha's average: 91.67
Kabir's average: 65.00
Anita's average: 77.67
Students with all marks > 80:
Sneha
List of [name, average]: [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

# Section 2: Dictionary of Lists

In [2]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

# Task 1: Convert to list of dictionaries
product_list = [
    {"name": data["products"][i], "price": data["prices"][i], "rating": data["ratings"][i]}
    for i in range(len(data["products"]))
]
print("Product List:", product_list)

# Task 2: Filter products with price > 20000 and rating >= 4.5
filtered = [p for p in product_list if p["price"] > 20000 and p["rating"] >= 4.5]
print("Filtered Products:", filtered)

# Task 3: Sort by rating descending
sorted_products = sorted(product_list, key=lambda x: x["rating"], reverse=True)
print("Sorted by Rating:", sorted_products)

Product List: [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]
Filtered Products: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]
Sorted by Rating: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

# Section 3: Frequency Dictionary + Set Operations

In [3]:
text = "ai is the future and ai will change everything in the ai world"

# Task 1: Word frequency
words = text.split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
print("Word Frequencies:", freq)

# Task 2: Words that appear more than once
repeated = [word for word, count in freq.items() if count > 1]
print("Repeated Words:", repeated)

# Task 3: Unique sorted words
unique_sorted = sorted(set(words))
print("Unique Sorted Words:", unique_sorted)

# Task 4: Common words between two sets
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common = set1 & set2
print("Common Words:", common)

Word Frequencies: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}
Repeated Words: ['ai', 'the']
Unique Sorted Words: ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']
Common Words: {'ai', 'future'}

# Section 4: Dictionary Comprehension + Conditional Logic

In [4]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}

# Task 1: Add 10% bonus
with_bonus = {k: v * 1.1 for k, v in sales.items()}
print("With Bonus:", with_bonus)

# Task 2: Filter > 50000
high_sales = {k: v for k, v in sales.items() if v > 50000}
print("Sales > 50,000:", high_sales)

# Task 3: Labeling
def label(sale):
    if sale >= 75000:
        return 'High'
    elif sale >= 40000:
        return 'Medium'
    else:
        return 'Low'

labels = {k: label(v) for k, v in sales.items()}
print("Labels:", labels)

With Bonus: {'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}
Sales > 50,000: {'Amit': 70000, 'Anita': 90000}
Labels: {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

# Section 5: Tuples, Sets, and Zipping

In [5]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# Task 1: Zip to dictionary
student_dict = dict(zip(names, marks))
print("Student Dictionary:", student_dict)

# Task 2: Min and Max marks
print("Min Mark:", min(marks))
print("Max Mark:", max(marks))

# Task 3: Set from marks and add value
mark_set = set(marks)
mark_set.add(85)
print("Updated Mark Set:", mark_set)

# Task 4: Merge two sets
set1 = {76, 92, 88}
set2 = {85, 90, 76}
merged = set1 | set2
print("Merged Unique Marks:", merged)

Student Dictionary: {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}
Min Mark: 76
Max Mark: 92
Updated Mark Set: {88, 92, 85, 76}
Merged Unique Marks: {85, 88, 90, 76, 92}

# Bonus Challenge

In [6]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

# Task 1: Add E104
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 90000}

# Task 2: Increase salary by 10% for Engineering dept
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

# Task 3: Dept with highest avg salary
from collections import defaultdict

dept_salary = defaultdict(list)
for emp in employees.values():
    dept_salary[emp["dept"]].append(emp["salary"])

dept_avg = {dept: sum(salaries)/len(salaries) for dept, salaries in dept_salary.items()}
highest_avg_dept = max(dept_avg, key=dept_avg.get)
print("Department with highest average salary:", highest_avg_dept)

Department with highest average salary: Engineering